@import "~vars/pads";
@import "~vars/fonts";
@import "~vars/colors";

.contactsPage {
    margin-top: $pad6;
    margin-bottom: $pad10;

    .pageHeadline {
        color: $black;
        font-size: $font_xxl;
    }

    .contactsMap {
        margin-top: $pad5;
    }

    .descriptionBlock {
        margin-top: $pad6;

        .descriptionHeadline {
            font-size: $font_lg;

            margin-bottom: $pad4;
        }

        .descriptionItem {
            margin-top: $pad2;
            font-size: $font_md;
            color: $dark_gray;
        }
    }
}
