@import "~vars/pads";
@import "~vars/fonts";
@import "~vars/colors";

.descriptionContainer {
    font-size: $font_sm;
    color: $black;

    h1,
    h2,
    h3,
    h4 {
        color: $black;
        font-weight: bold;
    }

    h1 { margin-top: $pad6 }
    h2 { margin-top: $pad6 }
    h3 { margin-top: $pad4 }
    h4 { margin-top: $pad3 }

    p {
        margin-top: $pad1;
    }

    ul {
        padding-left: $pad4;

        li {
            margin-top: $pad2;

            list-style: circle;
            color: $dark_gray;

            strong {
                font-weight: normal;
                color: $black;
            }
        }
    }
}
