@import "~vars/pads";
@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/screens";

.colorsPage {
    margin-top: $pad6;
    margin-bottom: $pad6;

    .pageHeadline {
        font-size: $font_xxl;
        color: $black;
    }

    .colorsInfo {
        margin-top: $pad6;

        .colorsInfoItem {
            margin-top: $pad4;

            line-height: 1.5;
            color: $black;
        }

        .colorsInfoItem:first-child {
            margin-top: $pad0;
        }
    }

    .btnContainer {
        display: flex;
        justify-content: flex-start;

        .downloadColors {
            margin-top: $pad6;
        }
    }

    .gallery {
        margin-top: $pad8;

        .galleryItem {
            margin-top: $pad4;
        }
    }
}

@media all and (max-width: $screen_sm) {
    .colorsPage {
        .btnContainer {
            justify-content: center;
        }
    }
}
