@import "~vars/fonts";

*,
*::before,
*::after {
    font-family: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main_ff;
    font-weight: normal;
}

li {
    list-style: none;
}

button,
input {
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    min-height: 100vh;
}
