@import "~vars/colors";
@import "~vars/pads";
@import "~vars/fonts";

.nav {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: $pad2;
    padding-bottom: $pad0;

    background-color: $white;

    .navItem {
        flex: 0 1 100px;
        padding: $pad2;

        font-size: $font_sm;
    }

    .navItem:nth-child(3n+2) {
        text-align: center;
    }

    .navItem:nth-child(3n+3) {
        text-align: center;
    }

    .navItem.selected {
        color: $firm;
    }
}

.nav:first-of-type {
    border-top: 2px solid $light_gray;
}
